$rootClassName: '.am-radio';

#{$rootClassName} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  &:active {
    opacity: 1;

    .am-radio__icon {
      opacity: 0.7;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    overflow: hidden;
    background: #f5f5f5;
    border: 1px solid #dedede;
    border-radius: 50%;
    transition: all 0.2s ease-out;
  }

  &__text {
    display: block;
    margin-left: 10px;
    color: #888;
    font-size: 26px;
  }

  &__checker {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABwklEQVR4Xu2YMU7EMBBF/5yAG1BBw1Ho2ZoeIVFzARqq5QBUNGyNOAGi5ABcggJta2TJK0WrkNieON+JZ+s4k/fmj72JoPGfNM4PE2AJaNyAjUDjAbBN0EbARqBxAzYCjQfATgEbARuBxg3YCCw5AM65KwA/AD5EZJ/DssgEBPBHAKcB+gvAjYh8pkpYnIAA/9oD+iAi96sWMADvuXcislmtgBF4z70Rkd0qBUTAZ3Xfy6p+DygJX72A0vBVC5gDvloBc8FXKWBO+OoEzA2fLcA5dwLgDoD/L/4L4EVEnlLP4O71DHiNgEsAb0fA2WcxC14j4BnAdU/HkyUw4TUCbgFs/4l8tAQ2vEbAGYDvgZkflVADfLYAv1ADoFmr2Wj71qreBXJActZMDd29n0pAahJqg1eNQOoZ7j9YAOj7knO41ei+USIJ6gQcHiqiu0PPT4GfLAFKCTT4yQVE7gndJFDhiwhIkECHLyYgQkIV8EUFDEioBr64gCDhIrw2n4fX5vcSx1nuPSc7BnMfgL3OBLA7wK5vCWB3gF3fEsDuALu+JYDdAXZ9SwC7A+z6lgB2B9j1LQHsDrDrWwLYHWDXbz4Bf7hduUEsVxozAAAAAElFTkSuQmCC');
    background-size: 100%;
    width: 30px;
    height: 30px;
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s ease-out;
  }

  &--checked {
    &.am-radio--primary .am-radio__icon {
      background: #00cf97;
      border: 1px solid #00cf97;
    }

    &.am-radio--secondary .am-radio__icon {
      background: #006dff;
      border: 1px solid #006dff;
    }

    .am-radio__checker {
      opacity: 1;
      transform: scale(1);
    }

    .am-radio__text {
      color: #333;
    }
  }

  &--disabled {
    &:active {
      opacity: 1 !important;
    }

    &.am-radio--checked .am-radio__icon {
      opacity: 0.7;
    }

    .am-radio__text {
      color: #bbb;
    }
  }
}
