$rootClass: '.am-input';

#{$rootClass} {
  position: relative;
  display: flex;
  background: #fff;

  &#{$rootClass}--border {
    border: 1px solid #ebebee;
    border-radius: 5px;
    transition: border 0.2s ease-out;

    &:focus-within {
      border: 1px solid rgb(196, 196, 205);
    }
  }

  &__input {
    display: block;
    flex: 1;
    height: 88px;
    padding-left: 20px;
    background-color: transparent;
    font-size: 28px;
  }

  &__padding {
    padding-right: 80px;
  }

  &__clear {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    width: 80px;
    height: 80px;
    background: url('data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAARVBMVEUAAAC4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLgypqmfAAAAFnRSTlMAYdzpbmLLxYrzSD8nb9jDuz4GIfJwIEzyAAAAAMpJREFUKM+Fk1kOhCAQREsWAXdxpu9/1AlpWpCQ8f1I6iUqRYOb0ztNpJ0/0WIV3Sj7UNdID8aruFlTg57FTdRhYrd8ejIsSIzUZUzO8no7JD02floAin8/wkoWcwTMHDkAQ1oMABxnMzwxa7Ls1hx57JQxySZnJNmhqba1Iw0qGHECQlkP4O8KAbp2T6ux186Y2u6yFdlDbb2UcLBje+QSpL4t4ittRC5XleKVo4xTUvLLkWEJ/cN+GRO2oVWBHb+5Hc3lfaj/Xocfco4rIMwpV+IAAAAASUVORK5CYII=')
      0 0 no-repeat;
    background-position: center;
    background-size: 28px 28px;
  }
}
