$rootClassName: '.am-switch';

#{$rootClassName} {
  position: relative;
  display: block;
  width: 100px;
  height: 54px;
  padding: 4px;
  background: rgb(211, 211, 216);
  border: none;
  border-radius: 27px;
  transition: all 0.2s ease-out;

  &--hover {
    opacity: 0.7;
  }

  &::after {
    display: none;
  }

  &--disabled {
    opacity: 0.4;

    &.am-button--hover {
      opacity: 0.4;
    }
  }

  &__inner {
    width: 46px;
    transition: all 0.2s ease-out;
  }

  &__dot {
    margin-left: auto;
    display: block;
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.2s ease-out;
  }

  &.am-switch--checked .am-switch__dot {
    transform: translate(46px, 0);
  }

  &.am-switch--primary.am-switch--checked {
    background: #00cf97;
  }

  &.am-switch--secondary.am-switch--checked {
    background: #006dff;
  }

  &--small {
    width: 78px;
    height: 44px;

    .am-switch__inner {
      width: 36px;
    }

    .am-switch__dot {
      width: 36px;
      height: 36px;
    }

    &.am-switch--checked {
      .am-switch__dot {
        transform: translate(34px, 0);
      }
    }
  }

  &--smallest {
    width: 64px;
    height: 34px;
    padding: 2px;

    .am-switch__inner {
      width: 30px;
    }

    .am-switch__dot {
      width: 30px;
      height: 30px;
    }

    &.am-switch--checked {
      .am-switch__dot {
        transform: translate(29px, 0);
      }
    }
  }
}
