$rootClassName: '.am-popup';

#{$rootClassName} {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  overflow: hidden;

  &--local {
    position: absolute;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 34, 54, 0.4);
    opacity: 0;
    transition: opacity 0.2s ease-out;
    pointer-events: auto;
  }

  &__inner {
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transition: transform 0.2s ease-out;
    pointer-events: auto;
    overflow: hidden;
  }

  &--border-radius {
    &.am-popup--top .am-popup__inner {
      border-radius: 30px 30px 0 0;
    }

    &.am-popup--bottom .am-popup__inner {
      border-radius: 0 0 30px 30px;
    }
  }

  &__header {
    position: relative;
    height: 110px;

    &-title {
      width: 100%;
      font-weight: bold;
      font-size: 30px;
      line-height: 110px;
      text-align: center;
    }

    &-close {
      position: absolute;
      top: 15px;
      left: 10px;
      z-index: 9;
      width: 80px;
      height: 80px;
      background: url('https://cdn.atzuche.com/mini/icon-close-black.png') 50% no-repeat;
      background-size: 30px 30px;
    }

    &-right {
      position: absolute;
      top: 25px;
      right: 12px;
      height: 60px;
      padding: 0 20px;
      font-size: 24px;
      line-height: 60px;
    }
  }

  &__content {
    position: relative;
    flex: 1;
    width: 100%;
    // background: #fff;
    overflow: hidden;
  }

  &__footer {
    display: none;
    padding: 20px 40px;
    position: relative;
    z-index: 2;
    background: #fff;
    box-shadow: 0 -8px 20px rgba(45, 156, 219, 0.05);

    &.show {
      display: block;
    }
  }

  .am-safe-area {
    height: env(safe-area-inset-bottom);
    height: constant(safe-area-inset-bottom);
  }

  &--top {
    .am-popup__inner {
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
    }

    &.am-popup--visible {
      .am-popup__inner {
        transform: translateY(0);
      }
    }
  }

  &--bottom {
    .am-popup__inner {
      top: 0;
      right: 0;
      left: 0;
      transform: translateY(-100%);
    }

    &.am-popup--visible {
      .am-popup__inner {
        transform: translateY(0);
      }
    }
  }

  &--left {
    .am-popup__inner {
      top: 0;
      right: 0;
      bottom: 0;
      transform: translateX(100%);
    }

    &.am-popup--visible {
      .am-popup__inner {
        transform: translateX(0);
      }
    }
  }

  &--right {
    .am-popup__inner {
      top: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
    }

    &.am-popup--visible {
      .am-popup__inner {
        transform: translateX(0);
      }
    }
  }

  &--visible {
    .am-popup__bg {
      opacity: 1;
    }
  }

  &--transparent {
    .am-popup__inner {
      background-color: transparent;
    }
  }
}
